.container{
    border: 1px solid black;
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: white;
}

.form h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}

.box{
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
}

#submit{
    padding: 12px 30px;
    width: 40%;
    margin-top: 40px;
    background-color: rgb(198, 37, 238);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
}